// Colors
$white: #fff;
$black: #191414;
$gray: #333333;
$light-gray: rgb(67, 67, 67);
$super-light-gray: rgb(83, 83, 83);
$dark-green: #00270d;
$green: #1db954;
$light-green: #1ed760;
$red: #dc3545;

// Fonts
$font: "Prompt", "Helvetica", sans-serif;
