/* Sidebar */
.sidebar-box {
  display: flex;
  flex-direction: column;
  padding: 30px 5px;

  position: fixed;
  width: 250px;
  height: 100vh;
  z-index: 99;
  left: 0px;
  top: 0px;
  bottom: 0px;

  overflow: hidden;
  background-color: black;
}

.sidebar-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-content: center;
  justify-content: left;
  text-decoration: none;
}

.sidebar-logo {
  width: 130px;
  margin-bottom: 20px;
  margin-left: 15px;
}

/* Button */
.sidebar-btn {
  width: 100%;
  border-style: none;
  padding-left: 20px;

  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: rgb(195, 193, 193);
  background-color: black;
  transition: all 0.2s ease-in-out;
}

.sidebar-btn:hover {
  cursor: pointer;
  color: white;
}

.sidebar-icon {
  margin-right: 10px;
}

.small-sidebar {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .sidebar-logo {
    display: none;
  }

  .small-sidebar {
    position: fixed;
    top: 0;
    width: 100vw;

    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 100;
  }

  .small-logo {
    width: 150px;
    margin-bottom: 20px;
    margin-left: 25px;

    display: flex;
    margin-top: 15px;
  }

  .small-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
  }

  .bars {
    display: block;
    color: rgb(195, 193, 193);
    z-index: 100;
  }

  .bars:hover {
    cursor: pointer;
    color: white;
    transition: all 0.2s ease-in-out;
  }

  .sidebar-logo {
    width: 150px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .sidebar-box {
    width: 100%;
    align-items: center;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
  }

  .sidebar-list {
    height: 15%;
    min-height: 60px;
  }

  .sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
}

.sidebar-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.3s ease-out;
}
