<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/sidebar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="sidebar">
      <div class="small-sidebar">
        <img src="assets/logo-white.png" alt="" class="small-logo" />
        <div class="small-right">
          <i class="fa fa-bars fa-lg bars"></i>
        </div>
      </div>

      <div class="sidebar-box">
        <img src="assets/logo-white.png" alt="" class="sidebar-logo" />
        <div class="sidebar-list">
          <button class="sidebar-btn home-btn">
            <i class="fa fa-home sidebar-icon"></i> Home
          </button>
        </div>
        <div class="sidebar-list">
          <button class="sidebar-btn search-btn">
            <i class="fa fa-search sidebar-icon"></i> Search
          </button>
        </div>
        <div class="sidebar-list">
          <button class="sidebar-btn song-btn">
            <i class="fa fa-music sidebar-icon"></i> Songs
          </button>
        </div>
        <div class="sidebar-list">
          <button class="sidebar-btn album-btn">
            <i class="fa fa-book sidebar-icon"></i> Albums
          </button>
        </div>

        <div class="sidebar-list sidebar-admin">
          <button class="sidebar-btn add-song-btn">
            <i class="fa fa-plus sidebar-icon"></i> Add Songs
          </button>
        </div>
        <div class="sidebar-list sidebar-admin">
          <button class="sidebar-btn add-album-btn">
            <i class="fa fa-pencil sidebar-icon"></i> Add Albums
          </button>
        </div>
        <div class="sidebar-list sidebar-admin">
          <button class="sidebar-btn user-list-btn">
            <i class="fa fa-users sidebar-icon"></i> User List
          </button>
        </div>
      </div>
    </div>

    <script type="module" src="app/sidebar.js"></script>
  </body>
</html>
